<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .message-content h1 {
    font-weight: 500;
  }
</style>

<div class="message-content">
  <h1>Olá, {{name}}</h1>
  <p>Parece que uma redefinição de senha foi solicitada.</p>
  <p>Se foi você, clique no link abaixo para redefinir a sua senha:</p>
  <p>
    <a href="{{link}}">Redefinir minha senha</a>
  </p>
  <p>Se você não solicitou a mudança de senha, desconsidere este email!</p>
  <p>
    Obrigado
    <br />
    <strong>
      Equipe GoBarber
    </strong>
  </p>
</div>
